body{
	margin: 0;
	padding: 0;
	background-color: #4b4b57;
	color: white;
}
h1 {
	background-color: black;
	color: #c7cbd1;
	padding:40px;
	padding-top: 30px;
	padding-bottom:30px;
	font-size: 3em;
	background-size: 50px;
	margin: 0;
	font-family: helvetica;
}
.logo-title {
  display: flex;
  align-items: center;
  gap: 20px; /* space between logo and text */
}

.logo {
  height: 100px; /* adjust as needed */
}
header {
  background-color: black;
  color: #c7cbd1;
  padding: 20px;
}

.navbar {
	background-color: #6d6f73;
	margin: 0;
	padding-top: 1px;
	padding-bottom:4px;
	color: transparent;
}
.navbar ul{
	list-style: none;
	padding: 0;
}
.navbar li {
	display: inline;
}
.navbar a {
	text-decoration: none;
	font-family: helvetica;
	font-size: 1.4em;
	padding: 30px;
	color: white;
}
.navbar a:hover {
	color: #00fe11;
	transition: 0.3s ease;
}
.intro {
	margin-left: 20px;
	font-family: helvetica;
	font-size: 1.2em;
	margin-top: 40px;
	background-color: #4b4b57;
}
.intro li {
	list-style-type:none;
}
.box {
	text-align: center;
	border: solid black;
	margin: 30px;
	border-radius: 120px;
	font-family: helvetica;
	padding-bottom: 40px;
}
.box h4 {
	font-size: 1.4em;
	text-decoration: underline;
}
.group2 {
	margin-left: 10px;
}
.list{
	margin-left: 0px;
	margin-right: 40px;
}
.list ul{
	color: transparent;
	text-decoration: none;
}
.list li{
	font-family: helvetica;
	margin: 10px;
}
.list a{
	text-decoration: none;
}
.list a:hover {
	color: red;
	transition: 0.2s ease;
}
.list ul li:nth-child(3n+1) {
	background-color: #ffa9a9;
	color: white;
	list-style-type: none;
}
.list ul li:nth-child(3n+2) {
	background-color: #f9ee7a;
	color: black;
	list-style-type: none;
}
.list ul li:nth-child(3n) {
	background-color: #a9f3ff;
	color: black;
	list-style-type: none;
}
.list ul li:nth-child(3n+1) a {
	color: black;
}
.list ul li:nth-child(3n+2) a{
	color: black;
}
.list ul li:nth-child(3n) a{
	color: black;
}
.list ul li:nth-child(3n+1) a:hover {
	color: #06810e;
	transition: 0.2s ease;
}
.list ul li:nth-child(3n+2) a:hover {
	color: #06810e;
	transition: 0.2s ease;
}
.list ul li:nth-child(3n) a:hover {
	color: #06810e;
	transition: 0.2s ease;
}
.footer {
	padding-bottom: 10px;
	background-color:#6d6f73 ;
	text-align: center;
	font-family: helvetica;
	font-size: 1.4em;
}
.footertext {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 7px;
	color: white;
}
