@import "tailwindcss";
body {
  font-family:mono;
  margin: 0;
  /*background-color: #4b4b57;*/
  background-image: url(./gradpic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#container {
  border-radius: 10px;
  width: 90%;               /* Takes up 90% of the screen on mobile */
  max-width: 600px;         /* Doesn't grow larger than 600px on big screens */
  margin: auto;
  padding: 1.5rem;
  text-align: center;
  box-sizing: border-box; /* Includes padding inside width */
}
/*#Messagebg {
  font-family:mono;
  margin: 0;
  background-image: url(./gradpic.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}*/